.modules-pages-about-view(layout-margin layout-padding)
	.module-header
		h1 The About Page
		p {{about.aboutVar}}
		p {{pages.childModulesInheritThis}}
		md-button.md-raised.md-primary(ui-sref="home") {{main.test}}
