span#pictureContainer
	md-card
		img#bigPicture.md-card-image(ng-src="{{profile.bigPicture}}")
		md-card-content(ng-hide="profile.$mdMedia('sm')")
			div.md-actions(layout="row" layout-align="end center")
				md-button.md-icon-button(aria-label="[Friends]" 
					ng-click="profile.viewFriends()"
					)
					md-icon(md-font-icon="fa fa-user fa-lg") {{profile.friends}} 
				md-button.md-icon-button(aria-label="[Groups]"
					ng-click="profile.viewGroups()"
					)
					md-icon(md-font-icon="fa fa-users fa-lg") {{profile.groups}}
				md-button.md-icon-button(aria-label="[Posts]"
					ng-click="profile.viewPosts()"
					)
					md-icon(md-font-icon="fa fa-comments fa-lg") {{profile.posts}}
				md-button.md-icon-button(aria-label="[Photos]"
					ng-click="profile.viewPhotos()"
					)
					md-icon(md-font-icon="fa fa-picture-o fa-lg") {{profile.photos}}
	span(layout="row")
		md-card#smallPicture
			span(layout-padding)
				img(ng-src="{{profile.smallPicture}}")
md-card(layout-margin layout-padding)
	h2 {{profile.login.user.name}}
