md-toolbar(layout="row", ng-class="{headerSpacing: header.$mdMedia('gt-lg')}")
	md-button(aria-label="[Menu]" hide-gt-lg ng-click="header.toggleMenu()")
		md-icon(md-font-icon="fa fa-bars fa-2x")
	h2 {{pageTitle}}
	md-button(ng-show="!!header.login.user" aria-label="[Alerts]"
		ui-sref="profile({id: header.login.user.id, view: 'alerts'})" 
		)
		md-icon(md-font-icon="fa fa-bell fa-2x") {{header.login.user.alerts}}
	md-button(ng-show="!!header.login.user" ng-click="header.login.logout()" 
		aria-label="[Logout]"
		)
		md-icon(md-font-icon="fa fa-power-off fa-2x")
	md-button(ng-show="!!!header.login.user" ui-sref="login" aria-label="[Login]")
		md-icon(md-font-icon="fa fa-key fa-2x")
